# gradle

.gradle/
gradlew
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
obj/
.classpath
.project
*.csproj

# macos

*.DS_Store

# fabric

run/
